.weather{
    width: 50%;
    border-radius: 35px;
    background: linear-gradient(#8371d4, #8c95fd) ;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid white;
    filter: drop-shadow(15px 15px 8px #9999cc);
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.weather-text{
    color: white;
    padding: 20px;
    text-align: left;
}

.temp{
   font-weight: bold; 
   font-size: 6rem;
   line-height: 1;
   margin: 0;
   padding-bottom: 10px;
   letter-spacing: 1px;
}

.weather-desc{
   font-weight: bold; 
   font-size:1.5rem;
   line-height: 1;
   margin: 0;
}

.weather-img{
    width: 50%;
}

.city{
    font-weight: bold;
    color: white; 
   font-size: 4rem;
   line-height: 1;
   margin: 0;
   text-align: center;
}

.current-day{
    font-weight: bold;
    color: white; 
   font-size: 2rem;
   line-height: 1;
   margin: 3% auto;
   text-align: center;
}

.bottom-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: white; 
    font-size: 1.2rem;
}

hr{
    margin-top: -20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
    .weather{
        width: 65%;
    }
    .temp{
        font-size: 4rem;
    }
    .weather-desc{
        font-size: 1rem;
    }
    .city{
        font-size: 3rem;
    }
    .current-day{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .city{
        font-size: 2rem;
    }
    .current-day{
        font-size: 1rem;
    }
    .bottom-item{
    font-size: 0.8rem;
    }
}
